<template>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>Create User</strong>
        </CCardHeader>
        <CCardBody>
          <CForm @submit.prevent="handleSave">
            <CTable>
              <CTableBody>
                <CTableRow>
                  <CTableHeaderCell scope="row">Email</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="email"
                      placeholder="email"
                      autocomplete="email"
                      v-model="email"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">First Name</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="firstname"
                      placeholder="firstname"
                      autocomplete="firstname"
                      v-model="firstname"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Last Name</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="lastname"
                      placeholder="lastname"
                      autocomplete="lastname"
                      v-model="lastname"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Phone</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="phone"
                      placeholder="phone"
                      autocomplete="phone"
                      v-model="phone"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">City</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="city"
                      placeholder="city"
                      autocomplete="city"
                      v-model="city"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Street</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="street"
                      placeholder="street"
                      autocomplete="street"
                      v-model="street"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Number</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="number"
                      placeholder="number"
                      autocomplete="number"
                      v-model="number"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Zipcode</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="zipcode"
                      placeholder="zipcode"
                      autocomplete="zipcode"
                      v-model="zipcode"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Latitude</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="lat"
                      placeholder="lat"
                      autocomplete="lat"
                      v-model="lat"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Longitude</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="long"
                      placeholder="long"
                      autocomplete="long"
                      v-model="long"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Username</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="email"
                      placeholder="email"
                      autocomplete="email"
                      v-model="email"
                  /></CTableDataCell>
                </CTableRow>
                <CTableRow>
                  <CTableHeaderCell scope="row">Password</CTableHeaderCell>
                  <CTableDataCell
                    ><CFormInput
                      name="password"
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      v-model="password"
                  /></CTableDataCell>
                </CTableRow>
              </CTableBody>
            </CTable>
            <CButton color="primary" class="px-4" type="submit"> Save </CButton>
            <CButton color="primary" class="px-4 m-1" @click="gotoList">
              Back
            </CButton>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import * as Helper from '@/helpers/helper'

export default {
  name: 'List',
  data: () => {
    return {
      id: 0,
      lat: '',
      long: '',
      city: '',
      street: '',
      number: '',
      zipcode: '',
      email: '',
      username: '',
      password: '',
      firstname: '',
      lastname: '',
      phone: '',
    }
  },
  methods: {
    async handleSave() {
      this.id = this.$route.params.id

      let data = {
        email: this.email,
        username: this.username,
        password: this.password,
        name: {
          firstname: this.username,
          lastname: this.lastname,
        },
        address: {
          city: this.city,
          street: this.street,
          number: this.number,
          zipcode: this.zipcode,
          geolocation: {
            lat: this.lat,
            long: this.long,
          },
        },
        phone: this.phone,
      }
      let url = Helper.apiUrl + '/users'
      await this.axios
        .post(url, data)
        .then(() => {
          alert('Success Create (but the data from API does not change)')
        })
        .catch((e) => {
          console.log(e)
        })
    },
    gotoList() {
      this.$router.push('/user')
    },
  },
}
</script>
