<template>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>User {{ id }}</strong>
        </CCardHeader>
        <CCardBody>
          <CTable>
            <CTableBody>
              <CTableRow>
                <CTableHeaderCell scope="row">Email</CTableHeaderCell>
                <CTableDataCell>{{ email }}</CTableDataCell>
              </CTableRow>
              <CTableRow>
                <CTableHeaderCell scope="row">Name</CTableHeaderCell>
                <CTableDataCell>{{ name }}</CTableDataCell>
              </CTableRow>
              <CTableRow>
                <CTableHeaderCell scope="row">Phone</CTableHeaderCell>
                <CTableDataCell>{{ phone }}</CTableDataCell>
              </CTableRow>
              <CTableRow>
                <CTableHeaderCell scope="row">Address</CTableHeaderCell>
                <CTableDataCell>{{ address }}</CTableDataCell>
              </CTableRow>
              <CTableRow>
                <CTableHeaderCell scope="row">Username</CTableHeaderCell>
                <CTableDataCell>{{ username }}</CTableDataCell>
              </CTableRow>
              <CTableRow>
                <CTableHeaderCell scope="row">Password</CTableHeaderCell>
                <CTableDataCell>{{ password }}</CTableDataCell>
              </CTableRow>
            </CTableBody>
          </CTable>
          <CButton color="primary" class="px-4" @click="gotoList()">
            Back
          </CButton>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import * as Helper from '@/helpers/helper'

export default {
  name: 'List',
  data: () => {
    return {
      id: 0,
      address: '',
      email: '',
      username: '',
      password: '',
      name: '',
      phone: '',
    }
  },
  methods: {
    async getDetail() {
      this.id = this.$route.params.id
      let url = Helper.apiUrl + '/users/' + this.id
      await this.axios
        .get(url)
        .then((result) => {
          this.address =
            result.data.address.city +
            ' ' +
            result.data.address.street +
            ' ' +
            result.data.address.number +
            ' ' +
            result.data.address.zipcode +
            ' ' +
            result.data.address.geolocation.lat +
            ', ' +
            result.data.address.geolocation.long
          this.email = result.data.email
          this.username = result.data.username
          this.password = result.data.password
          this.name =
            result.data.name.firstname + ' ' + result.data.name.lastname
          this.phone = result.data.phone
        })
        .catch((e) => {
          console.log(e)
        })
    },
    gotoList() {
      this.$router.push('/user')
    },
  },
  created() {
    this.getDetail()
  },
}
</script>
