<template>
  <CRow>
    <CCol :xs="12">
      <CCard class="mb-4">
        <CCardHeader>
          <strong>User</strong>
        </CCardHeader>
        <CCardBody>
          <CButton color="primary" class="px-4" @click="gotoCreate()">
            Create
          </CButton>
          <CTable>
            <CTableHead>
              <CTableRow>
                <CTableHeaderCell scope="col">#</CTableHeaderCell>
                <CTableHeaderCell scope="col">Email</CTableHeaderCell>
                <CTableHeaderCell scope="col">Name</CTableHeaderCell>
                <CTableHeaderCell scope="col">Action</CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow v-for="item in shownItems" :key="item.id">
                <CTableHeaderCell scope="row">{{ item.id }}</CTableHeaderCell>
                <CTableDataCell>{{ item.email }}</CTableDataCell>
                <CTableDataCell>{{
                  item.name.firstname + ' ' + item.name.lastname
                }}</CTableDataCell>
                <CTableDataCell>
                  <CButton
                    color="primary"
                    class="px-4 mb-1 mr-1"
                    @click="gotoDetail(item.id)"
                  >
                    Detail
                  </CButton>
                  <CButton
                    color="primary"
                    class="px-4 mb-1 mr-1"
                    @click="gotoEdit(item.id)"
                  >
                    Edit
                  </CButton>
                  <CButton
                    color="primary"
                    class="px-4"
                    @click="handleDelete(item.id)"
                  >
                    Delete
                  </CButton>
                </CTableDataCell>
              </CTableRow>
            </CTableBody>
          </CTable>
          <CPagination>
            <CPaginationItem
              v-for="index in pagination.total / pagination.limit"
              :key="index"
              @click="gotoPage(index)"
              >{{ index }}</CPaginationItem
            >
          </CPagination>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import * as Helper from '@/helpers/helper'

export default {
  name: 'List',
  data: () => {
    return {
      items: [],
      shownItems: [],
      pagination: {
        total: 0,
        limit: 5,
        activePage: 1,
      },
    }
  },
  methods: {
    async getList() {
      let url = Helper.apiUrl + '/users'
      await this.axios
        .get(url)
        .then((result) => {
          this.items = result.data
          this.pagination.total = result.data.length
        })
        .catch((e) => {
          console.log(e)
        })
      this.gotoPage(1)
    },
    gotoPage(page) {
      let start = (page - 1) * this.pagination.limit
      let end = page * this.pagination.limit
      this.shownItems = this.items.slice(start, end)
      this.activePage = page
    },
    gotoCreate() {
      this.$router.push('/user/create')
    },
    gotoDetail(id) {
      this.$router.push('/user/' + id)
    },
    gotoEdit(id) {
      this.$router.push('/user/edit/' + id)
    },
    async handleDelete(id) {
      let url = Helper.apiUrl + '/users/' + id
      await this.axios
        .delete(url)
        .then(() => {
          alert('User ' + id + ' deleted (not from the API though)')
        })
        .catch((e) => {
          console.log(e)
        })
    },
  },
  created() {
    this.getList()
  },
}
</script>
