<template>
  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm
                  class="needs-validation"
                  novalidate
                  :validated="validatedLogin"
                  @submit.prevent="handleLogin"
                >
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                      name="username"
                      placeholder="Username"
                      autocomplete="username"
                      v-model="username"
                    />

                    <div style="color: red">{{ formError }}</div>
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      name="password"
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      v-model="password"
                    />

                    <div style="color: red">{{ formError }}</div>
                  </CInputGroup>
                  <CRow>
                    <CCol :xs="6">
                      <CButton color="primary" class="px-4" type="submit">
                        Login
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import * as Helper from '@/helpers/helper'

export default {
  name: 'Login',
  data: () => {
    return {
      username: 'mor_2314',
      password: '83r5^_',
      // username: '',
      // password: '',
      validatedLogin: null,
      formError: '',
    }
  },
  methods: {
    async handleLogin(event) {
      const form = event.currentTarget
      if (form.checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
      }
      this.validatedLogin = true

      let data = {
        username: this.username,
        password: this.password,
      }
      let url = Helper.apiUrl + '/auth/login'
      await this.axios
        .post(url, data)
        .then((result) => {
          localStorage.setItem('token', result.data.token)

          if (this.$route.query.redirect) {
            this.$router.push(this.$route.query.redirect)
          } else {
            this.$router.push('/dashboard')
          }
        })
        .catch((e) => {
          if (e.response.status == 400 || e.response.status == 401) {
            this.formError = e.response.data
            this.validatedLogin = false
          }
        })
    },
  },
}
</script>
